<MudGrid Justify="Justify.Center">
    @foreach (DiceType type in Enum.GetValues<DiceType>())
    {
        int count = Dice.Count(d => d.Type == type);

        <MudItem xs="3" md="1" Class="justify-center">
            <MudBadge Origin="Origin.TopLeft" Content="@count" Overlap="true" Visible="@(count > 0)">
                <MudFab Label="@Die.Display(type)" DropShadow="false" @onpointerdown="OnClick"
                        oncontextmenu="return false;"/>
            </MudBadge>
        </MudItem>

        continue;

        void OnClick(PointerEventArgs args)
        {
            switch (args.Button)
            {
                case 0:
                    Results = [];
                    Dice.Add(new Die(type));
                    break;
                case 2:
                    Die? die = Dice.FirstOrDefault(d => d.Type == type);
                    if (die is null) return;
                    Results = [];
                    Dice.Remove(die);
                    break;
            }
        }
    }

    <MudItem xs="12">
        <MudCollapse Expanded="Dice.Any()">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                    <MudButton Variant="Variant.Outlined" FullWidth="true" @onclick="Dice.Clear">Clear</MudButton>
                </MudItem>

                <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" @onclick="Roll">Roll
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudCollapse>
    </MudItem>

    <MudItem xs="12">
        <MudCollapse Expanded="Results.Any()">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="12" md="8" lg="6" xl="4">
                    <MudDataGrid @ref="_dataGrid" Items="Results" Filterable="true"
                                 Hideable="true" Groupable="true" GroupExpanded="false" Dense="true" RowsPerPage="100">
                        <Columns>
                            <PropertyColumn Property="x => x.Type" Title="Die" Grouping GroupBy="x => x.Type">
                                <GroupTemplate>
                                    <span style="font-weight:bold">@context.Grouping.Key
                                        <MudChip Variant="Variant.Filled"
                                                 Size="Size.Small">count @context.Grouping.Count()</MudChip>
                                        <MudChip Variant="Variant.Filled"
                                                 Size="Size.Small">total @context.Grouping.Sum(r => r.Value)</MudChip>
                                        <MudChip Variant="Variant.Filled"
                                                 Size="Size.Small">highest @context.Grouping.Max(r => r.Value)</MudChip>
                                        <MudChip Variant="Variant.Filled"
                                                 Size="Size.Small">lowest @context.Grouping.Min(r => r.Value)</MudChip>
                                    </span>
                                </GroupTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="x => x.Value" Title="Result"/>
                        </Columns>
                        <PagerContent>
                            <MudDataGridPager T="DieResult"/>
                        </PagerContent>
                    </MudDataGrid>
                </MudItem>

                <MudFlexBreak/>

                <MudItem xs="12" md="8" lg="6" xl="4">
                    <MudButton OnClick="@ExpandAllGroups" Color="@Color.Primary">Expand All</MudButton>
                    <MudButton OnClick="@CollapseAllGroups" Color="@Color.Primary">Collapse All</MudButton>
                </MudItem>
            </MudGrid>
        </MudCollapse>
    </MudItem>
</MudGrid>

@code {

    MudDataGrid<DieResult>? _dataGrid;

    DieResult[] Results { get; set; } = [];
    List<Die> Dice { get; init; } = [];

    private void Clear()
    {
        Results = [];
        Dice.Clear();
    }

    void Roll() => Results = Dice.Select(die => die.Roll()).ToArray();
    void ExpandAllGroups() => _dataGrid?.ExpandAllGroups();
    void CollapseAllGroups() => _dataGrid?.CollapseAllGroups();

    readonly record struct DieResult(DiceType Type, int Value);

    readonly record struct DieCount(DiceType Type, int Count);

    record Die(DiceType Type)
    {
        internal DieResult Roll() =>
            new(Type, Random.Shared.Next(1, 1 + (int)Type));

        internal static string Display(DiceType type) =>
            type switch
            {
                DiceType.D2 => "d2",
                DiceType.D4 => "d4",
                DiceType.D6 => "d6",
                DiceType.D8 => "d8",
                DiceType.D10 => "d10",
                DiceType.D12 => "d12",
                DiceType.D20 => "d20",
                DiceType.D100 => "d100",
                _ => throw new InvalidOperationException()
            };
    }

    enum DiceType
    {
        D2 = 2,
        D4 = 4,
        D6 = 6,
        D8 = 8,
        D10 = 10,
        D12 = 12,
        D20 = 20,
        D100 = 100
    }

}